[Unit]
Description=Minimal X session
After=systemd-user-sessions.service

[Service]
User=raspi
PAMName=login
Environment=DISPLAY=:0
TTYPath=/dev/tty1
StandardInput=tty
ExecStart=/usr/bin/startx /bin/bash -c "while true; do /usr/bin/feh --fullscreen --auto-zoom --borderless /home/raspi/black.png; done" -- :0 vt1
Restart=on-failure

[Install]
WantedBy=multi-user.target
